[media-managers]
%{ for ip in media_managers }
${ ip }
%{ end for }

[media-servers]
%{ for ip in media_servers }
${ ip }
%{ end for }

[home-servers]
%{ for ip in home_apps }
${ ip }
%{ end for }

[pi-hole]
%{ for ip in piholes }
${ ip }
%{ end for }
